<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <link rel="stylesheet" href="https://www.fontstatic.com/f=jazeera" media="none"
        onload='"all"!=media&&(media="all")'><noscript>
        <link rel="stylesheet" href="https://www.fontstatic.com/f=jazeera">
    </noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5NX3RHTEBP"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-5NX3RHTEBP")</script>
    <meta property="og:title" name="title" content="{{title }}" />
    <meta property="og:image" content="https://website-domain.com/images/og-logo.png" />
    <meta property="og:url" content="https://website-domain.com" />
    <meta property="og:type" content="website" />
    <link rel="preload" as="image" href="/uploads/categories/622f05e756bc6e2df6b7884e/thumb_bathrooms.webp" />
    <link rel="preload" as="image" href="/uploads/categories/622f060856bc6e2df6b78855/thumb_fiber-glass-doors.webp" />
    <link rel="preload" as="image"
        href="/uploads/categories/622f062456bc6e2df6b7885e/thumb_best-flooring-for-house.webp" />
    <link rel="preload" as="image"
        href="/uploads/categories/622f067556bc6e2df6b78869/thumb_modern kitchen cabinets.webp" />
    <link rel="preload" as="image" href="/uploads/categories/623d69c696e9c7049983c804/thumb_57.webp" />
    <link rel="preload" as="image" href="/uploads/categories/6241718933e2fc0e1b7a9ea8/thumb_shower.webp" />
    <link rel="preload" as="image"
        href="/uploads/categories/6241724133e2fc0e1b7a9efa/thumb_Electrical-Inspection.webp" />
    <link rel="preload" as="image" href="/uploads/categories/6241729c33e2fc0e1b7a9f25/thumb_Roof-Layers-cropped.webp" />
    <link rel="preload" as="image" href="/uploads/categories/624173e733e2fc0e1b7a9fa7/thumb_ceilings1.webp" />
    <link rel="preload" as="image" href="/uploads/categories/6241748833e2fc0e1b7a9fd8/thumb_materials.webp" />
    <link rel="preload" as="image"
        href="/uploads/categories/6241750a33e2fc0e1b7aa00c/thumb_tuv-rheinland-recreation-and-sports-equipment.webp" />
    <link rel="preload" as="image" href="/uploads/categories/6241757333e2fc0e1b7aa043/thumb_garden-pool.webp" />
    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "HomeAndConstructionBusiness",
    "image": [
        "https://website-domain.com/images/logo.png"],
    "logo": ["https://website-domain.com/images/logo.png"],
    "name": "website-domain",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Kuwait, Hawally, Beirut St., Naif Tower. 6th Floor",
        "addressLocality": "Kuwait",
        "addressRegion": "GCC",
        "addressCountry": "KW"
    },
    "priceRange": "$$$$$$",
    "paymentAccepted": "Cash, Credit Card, Local Exchange Tradings System",
    "url": "https://website-domain.com",
    "email": "info@website-domain.com",
    "telephone": "+96565505692"
}</script>
    <script defer="defer" src="/static/js/main.c5a5093d.js"></script>
    <link href="/static/css/main.d1d6fff1.css" rel="stylesheet">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>